---
import Layout from '../layouts/AuthLayout.astro';
---

<Layout title="Erreur 404 - Page non trouvée" description="La page que vous cherchez n'existe pas.">
    <section class="flex flex-col items-center justify-center min-h-screen text-center px-4 bg-(--color-orange-main)"> 
        <div class="text-6xl font-bold text-(--color-background) mb-8 font-logo">yumly</div>
        <h1 class="text-8xl font-bold text-(--color-background) mb-2 font-logo">404</h1>
        <h2 class="text-5xl font-semibold mb-6 text-(--color-background) font-logo">Page inexistante</h2>
        <p class="text-lg mb-8 text-(--color-background)">OOPS... On dirait bien que vous vous êtes trompé de 
            lien. Ou bien c'est nous. Dans tous les cas, il n'y a rien à voir par içi.</p>
        <a href="/" class="px-5 py-2 text-(--color-background) underline font-logo text-xl">
            Rammenez moi en arrière !
        </a>
    </section>
</Layout>