---
// src/pages/contact.astro
import Layout from '../layouts/Layout.astro';
---

<Layout>

    <div class="max-w-4xl mx-auto px-4 py-16">
        <!-- En-tête Contact -->
        <div class="text-center mb-12">
            <h1 class="text-4xl font-bold text-gray-900 mb-4 pt-40">
                <span class="text-orange-500">CONTACT</span>
            </h1>
            <div class="w-16 h-1 bg-orange-500 mx-auto mb-6"></div>
            <p class="text-gray-600 max-w-2xl mx-auto leading-relaxed">
                Vous avez un projet en tête ou une question ? N'hésitez pas à me contacter ! 
                Je serais ravi de discuter de vos besoins et de voir comment je peux vous aider 
                à concrétiser vos idées. Que ce soit pour un site web, une application ou tout 
                autre projet numérique, je m'engage à vous fournir des solutions créatives et 
                efficaces adaptées à vos objectifs.
            </p>
        </div>
    </div>

</Layout>