---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="text-center py-20">
    <h1 class="text-4xl font-bold text-orange">Le monde à votre table !</h1>
    <p class="mt-4 text-lg text-gray-700">
      Découvrez les meilleures épiceries du monde entier.
    </p>
  </section>
</Layout>
